body {
	font-family: Arial, sans-serif;
	margin: 20px;
}

h1 {
	color: #333;
}

#shopping-list-container {
	margin-top: 20px;
}

#item-input {
	padding: 5px;
	font-size: 16px;
	margin-right: 10px;
}

button {
	padding: 5px 10px;
	font-size: 16px;
	cursor: pointer;
}
